<h2>Contrato de Adopción</h2>
<div class="inicio3">
  <div class="text-center">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col img">
          <img src="/images/pipe.jpg" alt="" width="500px" height="500px">
        </div>
        <div class="col">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Requisitos de adopción
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>Ser mayor de edad. Se presentará el DNI de identificación.</p>
                  <p>Comprobante de domicilio. Documento que demuestre que la persona es propietaria del domicilio donde
                    vivirá la mascota o, en caso de alquiler, que el arrendatario permite residir con animales</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Contrato de adopción
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>Debes firmar un acta que te compromete a:</p>
                  <p>Cuidar de tu mascota y mantenerla en unas condiciones óptimas de espacio, tiempo, alimentación,
                    ejercicio...</p>
                  <p>Dotarle de los cuidados veterinarios que necesite. La mascota se entregará desparasitada y con las
                    correspondientes vacunas, los perros y los gatos llevarán, además, microchip.</p>
                  <p>No destinarlo a la cría o reproducción. Los animales que tengan la edad suficientes se entregarán
                    esterilizados, y si aún no han alcanzado la edad necesaria se firmará un compromiso de
                    esterilización.</p>
                  <p>Compromiso de no abandonarlo. Si por algún motivo no puedes hacerte cargo de la mascota lo
                    devolverás a la asociación.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Derechos
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <p>Durante el régimen de acogida se realizará un seguimiento para ver qué tal se adapta la mascota a
                    la familia y comprobar que se cumple el compromiso adquirido</p>
                  <p>La asociación tiene el derecho de no entregarte la mascota si no se cumples los requisitos
                    exigidos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>