<body>
  <div class="container-fluid">
    <div id="inicio" class="row aling-items-center hero">
      <div class="">
        <h1>Refugio Hocicos</h1>
        <p>adopta al nuevo miembro de tu familia</p>
      </div>
    </div>
  </div>

  <div class="inicio2">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p>
            Hocicos Refugio es una ONG, sin fines de lucro. Estamos inscriptos, como Asociación Civil, REFUGIO HOCICOS
            se
            encuentra en Ingeniero Maschwitz partido de Belen de Escobar en el Gran Buenos Aires, en Argentina.
            El refugio tiene una población que ronda los 50 animales. El trabajo de rescate y recuperación NO TIENE
            PRECEDENTES EN AMERICA LATINA. Por ser un REFUGIO NO EUTANÁSICO no considera inviable a ninguno de sus
            animales.
            Lo que lo hace ÚNICO EN EL MUNDO son sus 10 perros paraliticos, ellos no pueden caminar y usan carritos
            hechos
            a
            medida; además viven en el refugio 50 ciegos, y más de 250 viejitos, Muchos de ellos están en tratamiento
            por
            problemas renales, hepáticos, cardíacos, oncológicos o diabéticos.
          </p>
        </div>
        <div class="col">
          <ul class="testimonios">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h3>"adoptar me cambio la vida,es un acto de amor incondicional"</h3>
                </div>
                <div class="carousel-item">
                  <h3>"mi gatito Juan es el nuevo miembro de la familia"</h3>
                </div>
                <div class="carousel-item">
                  <h3>"pense que habia adoptado aa un perro,pero se transformo en mi hijo"</h3>
                </div>
              </div>
            </div>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="inicio3">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div id="carouselExampleSlidesOnly" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/ana.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/IMG_20190714_123007.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/horacio.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="p1">
            Hocicos no recibe subsidios, aportes de empresas, o alimento balanceado de ninguna compañía, no tiene cuotas
            ni
            socios. Se puede ser padrino / madrina del refugio, o de un perrito que desees proteger en particular, a
            voluntad: no hay montos fijos y la frecuencia de la ayuda también es voluntaria.
            El objetivo principal de la organización es la concientización de la sociedad. Las ideas que se difunden a
            través del accionar diario del refugio son las del respeto irrestricto por la vida y la de que el bienestar
            de
            los animales se puede lograr si la sociedad se involucra y los sentimientos de piedad se traducen en
            acciones
            concretas. Los pilares de esta concientización son: el cuidado adecuado y el no abandono de las mascotas, la
            esterilización como único medio de control poblacional, la adopción en lugar de la compra de animales, el
            rechazo a toda forma de sacrificio o eutanasia. La concientización a la cual apunta Hocicos Refugio va más
            allá
            del respeto y cuidado hacia a los animales. El objetivo es lograr una sociedad no abandónica y respetuosa,
            tanto
            de sus animales, como de sus abuelos como de las personas con capacidades diferentes.
          </p>
        </div>

      </div>
    </div>
  </div>

</body>